body {
  /* font-family: 'Bowlby One'; */
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.navBar {
  background-color: #89C5DD;
}

.App {
  background-color: #EDFFFC;
}

.hearthHead {
  align-items: center;
  justify-content: center;
}
