body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html {
  margin: auto;
}

.App {
  background-color: #FFF7EF;
  min-height: 100vh;
}

.main {
  margin-left: 3%;
  margin-right: 3%;
}
/* Landing Page Styles */
#getStarted {
  color: white;
  background: #C60000
}
#landingBackground {
  background-color: #F7C59F
}
/* General Styling */
#navBar {
  font-size: 20px;
}
#searchInHeader{
  margin: 5px;
  width: 40%;
}
#cuisineSelect {
  margin: 5px;
}

/* Landing page styling */
#mainPageMenu {
  border: 0px
}
/* login page styling  */
#loginForm {
  justify-content: center;
}
#loginHeader {
  color: #B02E0C
}
#loginButton {
  color: white;
  background-color: #C60000;
  margin: 5px;
}

#loginMessage {
  background-color: #D6D4D4;
}
/* Consumer Landing Styling */

#header {
  background-color: #C60000;
  font-size: medium;
  height: 60px;
  color: white;
  border-radius: 5px;
  padding-left: 3px;
}
.smallHeader {
  color: #C60000
}

/* Menu Styling  */
#redButton {
  background-color: #EAF2EF;
  margin: 5px;
  font-size: small;
}
#chefMenu {
  background-color: #C60000;
  border-radius: 5px;
  padding-left: 3px;
}

/* Add and Edit a dish form styling */
#addDishButtons {
  margin-left: 25%;
}

/* Profile View Styling */
#profileDetails {
  text-align: center;
}

/* Notifications styles */
#notification-true {
  color: grey;
}
#notification-false {
  font-weight: bold;
}
