body {
  width: 100%;
  height: 100%;
}

.App {
  background-color: #F7F2F2;
}

#getStarted {
  color: white;
  background: #969595
}

#navBar {
  font-size: 20px;
}


/* Landing page styling */
#mainPageMenu {
  border: 0px
}
/* login page styling  */
#loginHeader {
  color: #B02E0C
}
#loginButton {
  color: white;
  background-color: #B02E0C
}

#loginMessage {
  background-color: #FFC654;
}
/* Consumer Landing Styling */
#mealList {
  margin-top: 50px;
}

#availableMeals {

}

#mapDiv {

}

#recentMealHeader {

}

#listOfRecents {

}
